doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Header
    style
      include ../../styles/header.scss
  body 

    header
          nav
            ul.nav
              image
                include ../../image/Logo.svg
              li.nav-item
                a(href="").nav-link О нас
              li.nav-item
                a(href="").nav-link услуги
              li.nav-item
                a(href="").nav-link Вакансии
              li.nav-item
                a(href="").nav-link новости
              li.nav-item
                a(href="").nav-link соглашения
              li.nav-item
                input(type='button' value=' войти ').nav-link.login
              li.nav-item
                input(type='button' value=' зарегистрироваться ').nav-link.registration 

                
                
                



