doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Footer
    style
      include footer.scss
  body 


footer 
    .footer 
        .footer-item 
                a(href="#").footer-logo
                    img(src="src/assets/image/logo.svg", alt="logo")
                p.footer-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-item 
            ul.list 
                h3.title Навигация
                li.list-item
                    a(href="#").footer-list__link О нас
                li.list-item
                    a(href="#").footer-list__link Новости 
                li.list-item
                    a(href="#").footer-list__link Служба поддержки
                li.list-item
                    a(href="#").footer-list__link Услуги
        .footer-item 
            ul.list
                h3.title О нас
                li.list-item
                    a(href="#").footer-list__link О сервисе
                li.list-item
                    a(href="#").footer-list__link Наша команда
                li.list-item
                    a(href="#").footer-list__link Вакансии
                li.list-item
                    a(href="#").footer-list__link Инвесторы
        .footer-item 
            ul.list
                h3.title служба поддержки
                li.list-item
                    a(href="#").footer-list__link Соглашения
                li.list-item
                    a(href="#").footer-list__link Сообщества
                li.list-item
                    a(href="#").footer-list__link Связь с нами
        .footer-item 
            ul.list 
                h3.title Подписка
                li.list-item
                    p.footer-text Получайте специальные предложения и новости сервиса
                li.list-item
                    input#email(type='email' pattern='.+@globex\.com' size='30' required='')