doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Copyright
        style
            include copyright.scss
    body 

    hr
    copyright.copyright 
                    p.text Copyright © 2018 Toxin отель. Все права защищены.
                    ul.social
                        li.icons
                            a(href="#").icon__logo
                                img(src="src/assets/image/twitter.svg", alt="logo")
                        li.icons
                            a(href="#").icon__logo
                                img(src="src/assets/image/facebook.svg", alt="logo")
                        li.icons
                            a(href="#").icon__logo
                                img(src="src/assets/image/instagram.svg", alt="logo")